# Disable native builds
node-gyp-binary=false
node-gyp=false
# Disable optional dependencies
omit=optional
# Disable audit
audit=false
# Disable fund messages
fund=false
# Use legacy peer deps
legacy-peer-deps=true
